.demo{
    padding: 5px;
}
.dice_number_container{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(82, 62, 211);
    color: white;
    text-align: center;
    padding-top: 10px;
}